<div ng-controller="IndexController">
	<h1>Service Request Form</h1>

	<h2><%= @service_request.request_type %></h2>
	<h3>ID#: <%= @service_request.id %></h3>
	<h3><%= @service_request.created_at %></h3>

	<h3><%= @service_request.community_name %></h3>
	<h3>Apt/Building Number: {{request.apt_number}}</h3>

	<section id="requestDescription">
		<p><%= @service_request.work_desc %></p>
	</section>

<!-- 	<h3>ID#: {{request.id}} </h3>
	<h3>Date Submitted: {{request.created_at}}</h3>

	<h3>Name/Community Name: {{communityName }}</h3>
	<h3>Apt/Building Number: {{apt.number}}</h3>

	<h3>STATUS: {{request.status}}</h3>
	<section id="requestDescription">
		<p>{{request.description}}</p>
		<p>{{request.instructions}}</p>
	  </section>
-->
	<%= link_to "Edit", edit_service_request_path, class: "btn btn-default" %>
	<%= link_to "Submit", class: "btn btn-default" %>

</div>