<div ng-controller="IndexController">
	<h1>Profile</h1>

	<h3><%= @user.name %></h3>

	<section id="userDetails">
		<p>Email: <%= @user.email %></p>
		<p>Phone: <%= @user.phone %></p>
		<p>Role: <%= @user.role.capitalize %></p>

	</section>

	<%= link_to "Edit", edit_user_path, class: "btn btn-default" %>

</div>
