        <div class="container">
          <div class="well" align="center">
            <p class="lead">From this page, you can Create and Manage Users and Export Data.</p>
          </div>
        </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= link_to image_tag("Users.png", class: "img-square", width: '140px', height: '140px'), users_path %>
          <h2>Manage Users</h2>
          <p>Edit user profiles, activate or deactive users, or promote users.</p>
          <p><%= link_to "Manage Users", users_path, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <%= link_to image_tag("ToolBox.png", class: "img-square", width: '140px', height: '140px'), request_types_path %>
          <h2>Manage Request Types</h2>
          <p>Define a new work request type. Manage categories of requests.</p>
          <p><%= link_to "Request Types", request_types_path, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <%= link_to image_tag("VistalCO/Download.png", class: "img-square", width: '140px', height: '140px'), "/service_requests/export" %>
          <h2>Export Data</h2>
          <p>Export and download your data in CSV format, so you can import it into Access or other tools.</p>
          <p><a class="btn btn-default" href="/service_requests/export" role="button">Export &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->