  

  <!-- Carousel
    ================================================== -->
    <div class="container theme-showcase">
      <div class="item active">
        <div class="container">
          <div class="jumbotron">
            <p><%= image_tag("color_logo.png", width: '150px', height: '150px', style: 'float: left; padding: 0px 20px 0px 0px;') %>Pathway Homes provides housing and support services for adults with severe and persistent mental illness. This application, developed at <a href="http://rubyforgood.com/">Ruby for Good</a>, helps Pathway Homes manage maintenance requests for the properties they oversee.</p>
            <% if user_signed_in? %>
             <p>&nbsp;</p>
            <% else %>
              <p align="center"><%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-primary" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= link_to image_tag("service_icon.png", class: "img-square", width: '140px', height: '140px'),  new_service_request_path %>
          <h2>Need Service?</h2>
          <p>Does one of our properties need attention? Open a request and we'll get someone right on it</p>
          <p><%= link_to "Create New Request", new_service_request_path, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("review_request.png", class: "img-square", width: '140px', height: '140px'), service_requests_path %>
          <h2>Review Requests</h2>
          <p>Review your open requests and see what others are reporting in.</p>
          <p><%= link_to "View Requests", service_requests_path, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("additional_materials.png", class: "img-square", width: '140px', height: '140px'), "http://www.pathwayhomes.org/employee-home" %>
          <h2>Additional Materials</h2>
          <p>Visit the Employee page for additional supporting forms and other documentation.</p>
          <p><a class="btn btn-default" href="http://www.pathwayhomes.org/employee-home" role="button">Employee Page &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->