<!DOCTYPE html>
<html>
<head>
  <title>PathwayHomes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'pathway_homes' %>
  <%= javascript_include_tag 'controllers/service_requests.js' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="pathwayHomes">

<%= yield %>

</body>
</html>
