<!DOCTYPE html>
<html>
<head>
  <title>PathwayHomes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'pathway_homes' %>
  <%= javascript_include_tag 'controllers/service_requests.js' %>
  <%= javascript_include_tag 'controllers/index.js' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="pathwayHomes">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Maintenance Request Tracker</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><%= link_to "Create New Request", new_service_request_path %></li>
          <li><a href="#contact">View Requests</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
